<html>
	<head>
		<script src="bower_components/angular/angular.min.js"></script>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />

		<script src="js/app.js"></script>
		<script src="js/controllers/almibarAppCtrl.js"></script>
	</head>

	<body ng-app="almibarApp" ng-controller="mainController">

		<h1>{{ ui.title }}</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>E-Mail</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="a in origData">
					<td>{{ a.nombre }}</td>
					<td>{{ a.apellido }}</td>
					<td>{{ a.email }}</td>
				</tr>
				<tr>
					<td><input type="text" class="form-control" placeholder="Nombre" ng-model="uiData.nombre"></td>
					<td><input type="text" class="form-control" placeholder="Apellido" ng-model="uiData.apellido"></td>
					<td><input type="text" class="form-control" placeholder="E-Mail" ng-model="uiData.email"></td>
					<td><input type="button" value="Agregar" ng-if="uiData.email" ng-click="nuevoAsistente()"></td>

				</tr>
			</tbody>
		</table>
	</body>


</html>
